:root {
    --font: verdada,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

    --icon-size: 20px;
    --icon-size-small: 15px;

    --font-size: 1.4rem;

    --z-index-mid: 2;
    --z-index-high: 3;

    --item-height: 35px;

    --border-radius: 5px;

    --item-height: 40px;
    /*height: 596px;*/
}

html {
    background: #000;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 380px;
    margin: 0;
    padding: 0;
    font-family: var(--font);
    background: var(--color-bg);
    color: var(--color);
}

html.dark {
    --color: #efe8e8;
    --color-bg: #3d3d3d;
    --color-bg-d: #2b2b2b;

    --color-hover: #4f4d4d;
    --color-hover-l: #656363;

    --grey: #c3c3c3;
    --blue: #b4c3ff;
    --red: #ff9494;
    --yellow: #ffff9f;
    --green:#c3ffc3;
    --pink: #ffc0f4;
    --purple: #e7a9ff;
    --cyan: #cbffff;
    --orange: #faccac;


    accent-color: #3d3d3d;
    color-scheme: dark;
}

html.light {
    --color: #3d3d3d;
    --color-bg: #efe8e8;
    --color-bg-d: #ddd6d6;

    --color-hover: #fff7f7;
    --color-hover-l: #ffffff;

    accent-color: #efe8e8;
    color-scheme: light;
}

:is(h1, h2, h3, p, select) {
    font-size: var(--font-size);
    margin: 0;
}

:is(button, select, label, input[type=checkbox], summary) {
    cursor: pointer;
}

a {
    color: var(--color);
}

summary::marker {
    content: "";
}


body>header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--color-hover-l);
}

body>header h1 {
    font-weight: 600;
    padding: 5px;
}
body>header a:hover {
    background-color: var(--color-hover);
}

body>header nav {
    display: flex;
    align-items: center;
}


body>main::-webkit-scrollbar {
    width: 8px;
}

body>main::-webkit-scrollbar-thumb {
    background-color: var(--color-hover-l);
}

body>main {
    max-height: 538px;
    padding: 0 5px 5px;
    overflow: auto;
}

main[data-show=container]>:not([name=container]),
main[data-show=more]>:not([name=more]),
main[data-show=keyboard]>:not([name=keyboard]) {
    display:none;
}

main:not([data-windows-id]) [data-window]>summary [name=id] {
    display: none;
}


summary {
    position: relative;
    display:flex;
    align-items: center;
    border-radius: var(--border-radius);
    height: var(--item-height);
    padding: 0 5px;
    outline-offset: -1px;
    background-color: var(--summary-color-bg);
}

summary:not(:hover) {
    --summary-color-bg: var(--color-bg);
}

:not([data-dropable]) summary:hover {
    --summary-color-bg: var(--color-hover);
}

summary:not(:hover)>.l {
    display: none;
}


summary .icon-triangle {
    width: var(--icon-size-small);
    padding: 2px;
    transition: transform 200ms ease-out;
}

details:not([open])>summary .icon-triangle {
    transform: rotate(90deg);
}

details[open]>summary .icon-triangle {
    transform: rotate(180deg);
}

[data-window]>[name="normal"]>[data-tab] {
    padding-left: 15px;
}

details>summary>[name=title] {
    box-sizing: border-box;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 3px 6px;
    border-radius: var(--border-radius);
    gap: 1ch;
    width: min-content;
    margin-left: 1ch;
}
details[data-focus]>summary [name=title] {
    border: 2px solid var(--color);
}


[data-window]>summary {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}

[data-popups]>summary {
    display: grid;
    grid-template-columns: auto 1fr auto;
}

[data-dropable] summary::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

[data-drop] {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 4px;
    z-index: 5;
    transition: height .2s linear;
}

:is([data-window],[data-popups]) [data-drop] {
    width: calc(100% - 10px);
    translate: 10px;
}
[data-group] [data-drop] {
    width: calc(100% - 20px);
    translate: 20px;
}

[data-drop][data-select] {
    height: 15px;
    transition-delay: .4s;
}

[data-drop][data-select]::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    top: -12px;
    left: 0;
    background: tan;
    opacity: .4;
}

[data-group]>summary {
    padding-left: 15px;
}

[data-group]>:not(summary) {
    padding-left: 25px;
}

[data-group][open] summary::before {
    content: "";
    position: absolute;
    height: 8px;
    width: 1px;
    background: var(--group-color);
    bottom: 6px;
    translate: 7px;
}

[data-group][open] [data-tab]::after {
    content: "";
    position: absolute;
    height: 28px;
    width: 1px;
    background: var(--group-color);
    top: 6px;
    translate: -3px;
}

[data-group] .icon-triangle {
    --color: var(--group-color);
    flex-shrink: 0;
}

[data-group]>summary [name=title] {
    padding: 0;
    overflow: hidden;
    flex-grow: 1;
    border-radius: 0;
}

[data-group]>summary [name=title]::after {
    content: "";
    position: absolute;
    right: 0;
    height: 100%;
    width: 3ch;
    background: linear-gradient(to left, var(--summary-color-bg), transparent);

}

[data-group]>summary span {
    --color: var(--color-bg);
    box-sizing: border-box;
    display: flex;
    gap: 1ch;
    background-color: var(--group-color);
    color: var(--color);
    padding: 3px 6px;
    border-radius: var(--border-radius);
    white-space: nowrap;
}

[data-tab][data-pin] {
    padding-left: 5px;
}

[data-tab] {
    --tab-color-bg: var(--color-bg);
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    width: 100%;
    padding-right: 5px;
    height: var(--item-height);
    background-color: var(--tab-color-bg);
    outline-offset: -1px;
}

:not([data-dropable]) [data-tab]:hover {
    --tab-color-bg: var(--color-hover);
}

[data-tab]:not(:hover)>.l {
    display: none;
}

[data-tab]:not([data-pin]) [name=unpin] {
    display: none;
}

[name=unpin]:hover::before {
    content: "";
    position: absolute;
    top: 0;
    right: 14px;
    height: 90%;
    width: 2px;
    background: var(--color);
    transform: rotate(45deg);
}

[data-tab] button[name=title] {
    box-sizing: border-box;
    flex-grow: 1;

    position: relative;
    display: flex;
    align-items: center;

    border: none;

    color: var(--color);
    font-family: var(--font);

    background: transparent;
    overflow: hidden;

    margin: 0;
    height: 100%;
}
[data-tab] button[name=title]::before {
    content: "";
    position: absolute;
    right: 0;
    width: 3ch;
    height: 100%;
    background: linear-gradient(to left, var(--tab-color-bg), transparent);
}

[data-tab] button[name=title] .title {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1ch;
    white-space: nowrap;
    padding: 3px 6px;
    border-radius: var(--border-radius);
}

[data-tab][data-active] button[name=title] .title {
    border: 2px solid var(--color);
}

[data-tab]>div[name=more] {
    display: none;
}

.shell {
    position: relative;
}
.shell::after {
    content: "";
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
}

.icon {
    box-sizing: border-box;
    width: var(--icon-size);
    color: var(--color);
}
.icon-small {
    box-sizing: border-box;
    width: var(--icon-size-small);
}

.button-icon {
    box-sizing: border-box;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 5px;
    color: var(--color);
    font-family: var(--font);
    border-radius: var(--border-radius);
}

.button-icon:hover {
    background: var(--color-hover-l);
}

.button-icon:not(:hover) {
    background: transparent;
}
